<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Alex Bradley</title>

    <%= stylesheet_link_tag "main.bundle" %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
  </head>
  <body>
    <section class="section about-me">
      <img id="profile-picture" src="https://i.imgur.com/4bezuKl.jpg"></img>
      <h1 class="title is-1">Alex Bradley</h1>
      <h2 class="subtitle">Software Developer</h2>
      <div class="links">
        <a href=mailto:alex.robert.bradley@gmail.com>
          <i class="far fa-envelope"></i> Email 
        </a>
        <a href="https://www.github.com/theabrad">
          <i class="fab fa-github"></i> GitHub
        </a>
        <a href="https://www.twitter.com/theabrad">
          <i class="fab fa-twitter"></i> Twitter
        </a>
        <a href="https://www.linkedin.com/in/alexrobertbradley/">
          <i class="fab fa-linkedin"></i> LinkedIn
        </a>
      </div>
      <div class="about">
        <p class="is-size-5">
          Hello I am a web developer specializing in Ruby on Rails, Elixir, and Python.
        </p>
      </div>
    </section>
    <section class="section projects">
      <h1 class="title has-text-centered">Work/Projects<h1>
      <div class="container">
        <div class="tile is-ancestor">
          <div class="tile is-4">
            <div class="card">
              <div class="card-image">
                <figure class="image is-16by9">
                  <%= image_tag 'patchscreenshot.png' %>
                </figure>
              </div>
              <div class="card-content">
                <p class="title">Patch</p>
                <p class="has-text-justfied">
                  A Web App utilizing health advocates to help employees maximize their healthcare perks and benefits.
                </p>
                <br />
                <p class="has=text-justified">
                  <b>Tech Stack:</b>Ruby on Rails, JavaScript, React.js, Heroku
                </p>
              </div>
              <div class="card-footer">
                <a class="card-footer-item button is-link has-text-right" href="https://app.trustpatch.com">Visit Site</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="open-source">
      <h1 class="title has-text-centered">Open Source Contributions</h1>
      <div class="container">
        <ul>
          <li>
            <a href="https://github.com/thoughtbot/suspenders/commit/cf78134766c689dab1d9e5db2f3be454ba81f487">
              [thoughtbot/suspenders] JSDriver generator uses ChromeDriver
            </a>
          </li>
          <li>
            <a href="https://github.com/payolapayments/payola/pull/349">
              [payolapayments/payola] Added stripe.js version 3 to stripe header
            </a>
          </li>
        </ul>
      </div>
    </section>
    <%= javascript_include_tag "main.bundle" %>
  </body>
</html>
